[DEFAULT]

debug = on

[server:main]

use = helloworld

[server:helloworld]

use = egg:helloworld#native
debug = on
host = helloworld.internal
port = 5000

[server:paster]

use = egg:Paste#http
host = helloworld.internal
port = 5000

[app:main]

use = egg:helloworld#main

data_dir = %(here)s/data

beaker.session.type = file
beaker.session.data_dir = %(data_dir)s/session/
beaker.session.key = helloworld
beaker.session.secret = dJkUgAajzrRiD8hrNbdcnQ==
beaker.session.timeout = 3600

beaker.cache.type = file
beaker.cache.data_dir = %(data_dir)s/cache/
beaker.cache.lock_dir = %(data_dir)s/cache/locks

database.url = sqlite:////%(data_dir)s/main.db

[loggers]
keys = root

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = DEBUG
formatter = generic

[formatter_generic]
#format = %(asctime)s,%(msecs)03d %(levelname)-5.5s [%(name)s] [%(threadName)s] %(message)s
format = %(levelname)-7.7s [%(name)s] [%(threadName)s] %(message)s
datefmt = %H:%M:%S
