# vim: set syntax=yaml:

---
 
 
 containers:

   database:

     #file: 'data/main.db'
     file: ~

   app:

     name: 'helloworld'

     server_name: 'helloworld.internal'

     address: '127.0.100.3'

     https: no
 
     forwarded_ports:
     - '80:80'
     - '443:443'

     wsgi:
       num_processes: 4
       num_threads: 8
 
