# vim: set syntax=dockerfile: 

FROM python:2.7-slim

COPY deploy/app/ca-certificates/*.crt deploy/app/ca-certificates/*.pem /usr/local/share/ca-certificates/
RUN update-ca-certificates

ADD deploy/app/pip.conf /etc/pip.conf
ENV PIP_CONFIG_FILE=/etc/pip.conf

# Note: The config.ini expects a webserver-writable data directory at
# /var/opt/helloworld/data (will be provided by a data volume container) 

ENV HELLOWORLD_VERSION={{version}}
ENV HELLOWORLD_CONFIG_FILE=/etc/opt/helloworld/config.ini
ENV CONFIG_FILE=${HELLOWORLD_CONFIG_FILE}

RUN mkdir -p /etc/opt/helloworld /var/opt/helloworld
ADD dist/helloworld-${HELLOWORLD_VERSION}.tar.gz /opt/
RUN ln -s /opt/helloworld-${HELLOWORLD_VERSION} /opt/helloworld

WORKDIR /opt/helloworld
RUN pip install -r requirements.txt && python setup.py install
RUN cp -rv -l /opt/helloworld/public /var/opt/helloworld/public

ADD deploy/app/wsgi.py /opt/helloworld/wsgi.py

RUN chown -v www-data:www-data -R /var/opt/helloworld

ADD deploy/app/config.ini /etc/opt/helloworld/config.ini
ADD deploy/app/who.ini /etc/opt/helloworld/who.ini

ADD deploy/app/htpasswd /etc/opt/helloworld/htpasswd
RUN chown -v www-data:www-data /etc/opt/helloworld/htpasswd
RUN chmod -v 0640 /etc/opt/helloworld/htpasswd 
